#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    height: 10vh
}
button{
    width: 9em;
    height: 3em;
    background-color: cadetblue;
    border-radius: 45px;
    border: 1px solid black;
}